.Wine {
    width: 540px;
    margin-left: 52rem;
    padding-left: 10%;
    padding-right: 5%;
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.text-muted {
    margin-left: 20rem;
}

.card-body{
    background-color: whitesmoke;
}




