.App {
    background-image: url('./Images/vineyard-winery-panoramic-view-spring-near-udine-friuli-italy-29858175.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: luminosity;
    position: top;
    width: 100%;
    overflow-x: hidden;
}